*{
    padding :0;
    margin:0;
}
body{
    background-color: rgb(239, 241, 242);
}
.contain{
    background-color: rgb(44, 43, 43);
    height:60px;
    
}
.contain>h2{
    color:rgb(226, 214, 214);
    margin-left: 35px;
    padding-top: 11px;
}


.btn-search{
   
    
    background-color: rgb(238, 247, 247);
    position: fixed;
  top: 90px; /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; 
  border: 1px solid black;
}
#btn{
    background-color: black;
    color: aliceblue;
    position: fixed;
  top: 1px; /* Adjust this value as needed */
  left: 120%;
  transform: translateX(-50%);
  z-index: 1000; 
  border: 1px solid black;
  width:60px;
  height:20px;
}
#home{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    color:rgb(215, 222, 222);
    text-decoration: none;
    position: absolute;
    left:1110px;
    top:20px;
}
#history{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    color:rgb(215, 222, 222);
    text-decoration: none;
    
    position: absolute;
    top:20px;
    left:1200px;
}
/* For smaller screens */
@media (max-width: 768px) {
  .btn-search {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
}